doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    link(href=require('./pages/index.scss') rel='stylesheet')
    script(src=require('./pages/index.js') defer)
  body.page
    header.header
      nav.header__nav
        button.header__burger(type='button')
        ul.header__links
          li: a.header__link(href='#') Домой
          li: a.header__link(data-href='#roads') Покрытия и&nbsp;градиенты
          li: a.header__link(data-href='#bikes') Велосипеды
          li: a.header__link(data-href='#train') Тренировки

    main.main
      section.intro
        h1.intro__title Шоссе, ТТ и&nbsp;Грэвел
        p.intro__text.
          Триатлонные старты, горные серпантины или грейвел заезды
          по&nbsp;живописным маршрутам&nbsp;&mdash; нужно только
          определиться с&nbsp;выбором велосипеда и&nbsp;отправиться
          в&nbsp;путь.
        button.intro__button(type='button') Подробнее
        p.intro__feat Cannondale Systemsix
        figure.intro__feat-container
          img.intro__feat-image(
            src=require('@/images/bikes/cannondale.png')
            alt='велосипед Cannondale Systemsix'
          )
        img.intro__photo(
          src=require('@/images/photos/intro.png')
          alt='фотография велосипедиста'
        )

      section.quote
        blockquote.quote__text.
          &laquo;Катайся много или мало, долго или коротко, как
          хочешь&nbsp;&mdash; но&nbsp;катайся&raquo;
        p.quote__author Эдди Меркс
        p.quote__author-info Велогонщик
        img.quote__photo(
          src=require('@/images/photos/quote.png')
          alt='велогонщик Эдди Меркс'
        )

      section.roads#roads
        h2.roads__title Шоссе
        p.roads__text.
          На&nbsp;шоссейном велосипеде можно ездить по&nbsp;асфальту
          на&nbsp;разных градиентах: будь&nbsp;то горы или равнины.
          Гонки проходят в&nbsp;командном пелотоне, но&nbsp;тренироваться
          можно и&nbsp;самостоятельно.
        ul.roads__pics-list
          li.roads__pics-item
            img.roads__pic(
              src=require('@/images/roads/highway.png')
              alt='фото шоссе в горах'
              data-name='highway'
            )
          li.roads__pics-item
            img.roads__pic(
              src=require('@/images/roads/gravel.png')
              alt='фото лесной дороги'
              data-name='gravel'
            )
          li.roads__pics-item
            img.roads__pic(
              src=require('@/images/roads/triatlon.png')
              alt='фото шоссе на равнине'
              data-name='triatlon'
            )
        ul.roads__scroll-buttons
          li: button.roads__button.roads__button_dir_left(type='button')
          li: button.roads__button.roads__button_dir_right(type='button')

      section.bikes#bikes
        h2.bikes__title Велосипеды
        ul.bikes__buttons
          li: button.bikes__button.bikes__button_active Шоссе
          li: button.bikes__button Грэвел
          li: button.bikes__button ТТ
        ul.bikes__bikes
          li.bikes__li: a.bikes__link(href='https://www.sigmasports.com/item/Cervelo/Caledonia-5-Ultegra-Disc-Road-Bike-2021/RDEN')
            figure.bikes__bike
              img.bikes__pic(
                src=require('@/images/bikes/highway_1.png')
                alt='Cervelo Caledonia-5'
              )
              figcaption.bikes__info Cervelo Caledonia-5
          li.bikes__li: a.bikes__link(href='https://www.sigmasports.com/item/Cannondale/SystemSix-HiMOD-Ultegra-Di2-Disc-Road-Bike-2021/R82J')
            figure.bikes__bike
              img.bikes__pic(
                src=require('@/images/bikes/highway_2.png')
                alt='Cannondale Systemsix Himod'
              )
              figcaption.bikes__info Cannondale Systemsix Himod
          li.bikes__li: a.bikes__link(href='https://www.sigmasports.com/item/Trek/Domane-SL-7-Force-eTap-AXS-Disc-Road-Bike-2021/RULF')
            figure.bikes__bike
              img.bikes__pic(
                src=require('@/images/bikes/highway_3.png')
                alt='Trek Domane SL-7'
              )
              figcaption.bikes__info Trek Domane SL-7

      section.train#train
        h2.train__title Тренировки
        p.train__text.
          Чтобы найти маршрут для тренировки можно воспользоваться сервисом
          Komoot, а&nbsp;записать эти тренировки поможет приложение Strava,
          а&nbsp;также это приложение позволит построить тренировочный план.
        ul.train__links
          li: a.train__link(href='https://www.strava.com') Strava
          li: a.train__link(href='https://www.komoot.com') Komoot
        img.train__pic(
          src=require('@/images/photos/train.png')
          alt='дорога в лесу'
        )

    footer.footer
      form.footer__form(
        action='#'
        name='subs'
      )
        h2.footer__form-heading Подпишитесь на&nbsp;рассылку &mdash;
        .footer__form-content
          input.footer__input(
            type='email'
            value=''
            placeholder='Ваш e-mail'
            required
            id='subs-email'
          )
          button.footer__submit(type='submit') ok
      p.footer__copyright &copy;&nbsp;Road Club 2021
      button.footer__theme-switch(type='button')
